<% if @user_class == :member  %>
  <% title_str =  "実験者ログイン"%>
  <% form_for_path = member_login_path %>
  <% register_link_path = member_register_path %>
<% elsif @user_class == :participant %>
  <% title_str =  "ログイン"%>
  <% form_for_path = login_path %>
  <% register_link_path = register_path %>
<% end %>

<% provide(:title, title_str) %>
<h2><%= yield(:title) %></h2>

<p>
  アカウントをお持ちでない方は<%= link_to 'こちら', register_link_path %>。
</p>

<%= render partial: 'form', locals: { form_for_path: form_for_path } %>
