<p>
  <%= @user.name %> 様
</p>
<p>
  お世話になっております。<br>
  京都大学 情報学研究科 西田研究室の実験募集ページ管理担当者です。
</p>
<p>
  以下のURLからパスワードの再設定を行ってください。
</p>
<% url = member_edit_reset_url(@user.reset_token, e: @user.email) %>
<%= link_to url, url %>
<p>
  ※上記URLは1時間が経過すると無効となります。
</p>
<p>
  それでは、今後ともよろしくお願いいたします。
</p>
<br>
<p>
  ※このメールは送信専用です。このメールに返信をいただきましても対応や回答返信は行っておりません。<br>
  ※ご不明な点は、別途記載の担当者連絡先までお願いいたします。
</p>
