<p>※実験終了後ログインしないまま7日が経過すると自動的にアカウントが削除されます。</p>

<% if participant.deactivatable? %>
    <%= link_to '今、アカウントを削除する', deactivate_path, method: :delete, title: '確認',
                data: { confirm: '本当にアカウントを削除してよろしいですか？',
                        commit:  '削除する',
                        cancel:  'キャンセル', },
                        class: 'form-control btn btn-danger' %>
<% else%>
    <%= link_to '今、アカウントを削除する',"", disabled: true, class: 'form-control btn btn-danger' %>
    <p> 予定が残っているためアカウントを削除できません。 </p>
<% end %>
