<% provide(:title, '実験応募フォーム') %>
<h2><%= yield(:title) %></h2>

<p>実験参加にはアカウント登録が必要です。</p>
<p>ログインは<%= link_to 'こちら', login_url %>。</p>

<%= render partial: 'form',
           locals: { classifications: @classifications, faculties: @faculties, courses: @courses } %>
