<% provide(:title, '実験応募フォーム') %>
<h2><%= yield(:title) %></h2>

<p>実験参加にはアカウント登録が必要です。</p>
<p>ログインは<%= link_to 'こちら', login_path %>。</p>

<%= render partial: 'form',
           locals: { form_for_url: register_path, participant: @participant, classifications: @classifications,
                     faculties: @faculties, courses: @courses, submit_label: '仮登録する', type: 'all', show_errors: true } %>
