<p>
  <%= @participant.name %> 様
</p>

<p>
  京都大学 情報学研究科 西田研究室の実験担当者です。
</p>
<p>
  この度は、実験応募のためのアカウント登録ありがとうございます。
</p>
<p>
  実験へのご応募は下記URLからお願いいたします。
</p>
<%= link_to applications_url, applications_url %>
<p>
  <%= @participant.name %>様の実験予定は下記URLから確認することが出来ます。
</p>
<%= link_to mypage_url, mypage_url %>
<p>
  それでは、今後ともよろしくお願いいたします。
</p>
<br>
<p>
  ※このメールは送信専用です。このメールに返信をいただきましても対応や回答返信は行っておりません。<br>
  ※ご不明な点は、別途記載の担当者連絡先までお願いいたします。
</p>
