<p>
  <%= @participant.name %> 様
</p>

<p>
  京都大学 情報学研究科 西田研究室の実験担当者です。
</p>
<p>
  メールアドレスの更新を確定させるには以下のリンクをクリックしてください。
</p>
<% url = email_update_url(t: @participant.email_update_token, e: @participant.new_email) %>
<%= link_to url, url %>
<br>
<p>
  ※このメールは送信専用です。このメールに返信をいただきましても対応や回答返信は行っておりません。<br>
  ※ご不明な点は、別途記載の担当者連絡先までお願いいたします。
</p>
