<% provide(:title, 'お問い合わせフォーム') %>
<h2><%= yield(:title) %></h2>

<p>実験担当者に直接メッセージを送信することができます。</p>

<%= render partial: 'form',
           locals: { inquiry: @inquiry, experiments: @experiments, name: @experiment_name } %>
