<% provide(:title, '実験者登録フォーム') %>
<h1><%= yield(:title) %></h1>

<p>実験実施にはアカウント登録が必要です。</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'form' %>
  </div>
</div>

