<% provide(:title, '実験者マイページ') %>
<h2><%= yield(:title) %></h2>
<p>
  <%= "id: #{@member.id}, 名前: #{@member.name}" %>
</p>

<% if !@experiments.nil? %>
  <h3>実験一覧</h3>
  <% @experiments.each do |experiment| %>
    <p>
      <%= link_to "id: #{experiment.id}, 実験名: #{experiment.name}", experiment_path(experiment) %>
    </p>
  <% end %>
<% end %>
